.cards-small {
    width: 235px;
    height: 140px;
    background-color: var(--smoked-blue);
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-small__title {
    line-height: 1.3;
    margin: 5px 0 10px 0;
}

@media (max-width: 1280px) {
    .cards-small {
        width: 180px;
        height: 110px;
        padding: 10px;
    }
    .cards-small__title {
        font-size: 14px;
        margin: 5px 0 6px 0;
    }
}