.text-section__content {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 20px;
}

.text-section__content-text {
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.content-decor {
    grid-column: 1/7;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: 450px;
}

.text-section__content-image {
    grid-column: 8/19;
    height: 55vh;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1024px) {
    .text-section__content-text {
        grid-column: 1/19;
        gap: 30px;
    }
    .text-section__content-image {
        grid-column: 1/19;
        height: 300px;
        margin-top: 50px;
    }
    .content-decor {
        width: 100%;
    }
}

@media (max-width: 840px) {
    
}