.decoration-icon {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 180px;
    margin: 0 15px 25px 0;
}

.decoration-icon__icon {
    align-self: center;
    margin-bottom: 10px;
}

.decoration-icon__text {
    text-align: center;
}

@media (max-width: 1280px) {
    .decoration-icon__icon {
        width: 65px;
        height: 65px;
    }
    .decoration-icon__text {
        font-size: 11px;
        letter-spacing: 1px;
    }
}

@media (max-width: 1024px) {
    .decoration-icon {
        width: 20%;
    }
}