.layout {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/images/bg_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: 2fr 6fr;
    column-gap: 20px;

}

.layout__sidebar {
    grid-column: 2/5;
    background-color: #5d6ab6;
}

.layout__content {
    grid-column: 5/23;
    border: solid 1px red;
}

@media (max-width: 1024px) {
    .layout {
        column-gap: 15px;
    }
}

@media (max-width: 840px) {
    .layout {
        column-gap: 20px;
        background-image: url('../../../assets/images/bg_img_mobile.jpg');
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 55px auto;
    }
    .layout__sidebar {
        display: none;
    }
    .layout__content {
        grid-column: 1/13;
    }
}

@media (max-width: 430px) {
    .layout {
        column-gap: 20px;
    }
}