.article-card-promo {
    background-color: rgba(87, 134, 154, 0.07);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgba(87, 134, 154, 0.07);
}

.article-card-promo:hover {
    border: 1px solid var(--text-light);
}

.article-card-promo-title {
    color: var(--green);
}