.article {
    grid-column: 2/10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.article__title {
    margin: 0;
    line-height: 1.2;
    padding: 15px 0;
}

.article__text  {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.article__image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.article__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.article__share-btn {
    background-color: transparent;
    border: none;
    color: var(--text-light);
}

.article__date {
    color: rgba(0, 0, 0, 0.4);
}