.selected-tour__back-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2F505E;
}

.selected-tour {
    margin-top: 30px;
    border-radius: 5px;
    height: 82vh;
    overflow-y: auto;
    background-color: rgba(47, 80, 94, 0.55);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--text-light) transparent;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    align-items: center;
}

.selected-tour__content {
    grid-column: 1/6;
    padding: 40px;
}

.selected-tour::-webkit-scrollbar-thumb {
    margin: 50px 0;
    background-color: var(--text-light);
    border-radius: 4px;
}

.selected-tour__title {
    line-height: 0.7;
    margin-bottom: 35px;
    font-size: 55px;
}

.selected-tour__subtitle {
    margin-bottom: 25px;
    color: #28414d;
    font-size: 16px;
}

.selected-tour__description {
    margin-bottom: 25px;
}

.selected-tour__details {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
}

.selected-tour__detail {
    background-color: rgba(40, 65, 77, 0.7);
    padding: 2px 15px;
    border-radius: 3px;
    border: 1px solod #00000013;
}

.selected-tour__price {
    color: var(--text-light);
    font-weight: 600;
    display: inline-block;
    margin-left: 25px;
}

.selected-tour__button {
    width: 135px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px #82959d65;
    background-color: rgba(90, 121, 141, 0.7);
    color: var(--text-light);
    margin-top: 35px;
    display: inline-block;
}

.selected-tour__button:hover {
    background-color: var(--text-light);
    color: #28414d;
}

.selected-tour__image-block {
    grid-column: 6/13;
    height: 100%;
}

.selected-tour__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



@media (max-width: 1400px) {

}

@media (max-width: 1280px) {
    
}

@media (max-width: 1140px) {
    
}

@media (max-width: 1024px) {

}

@media (max-width: 840px) {
    
}

@media (max-width: 580px) {

} 