.tours-catalog__tours-list {
    grid-column: 1/19;
    height: 85%;
}
.tours-catalog__tours-heading {
    line-height: 0.7;
    margin-bottom: 25px;
    margin-top: 20px;
}

.tours-catalog__tours {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    max-height: 74vh;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--text-light) transparent;
}

.tours-catalog__tours::-webkit-scrollbar-thumb {
    background-color: var(--text-light);
    border-radius: 4px;
}
