.tours-catalog__filter-groups {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

.selectedFilter {
    background-color: rgba(47, 80, 94, 54%);
    border: solid 1px rgba(0, 0, 0, 0.055);
    border-radius: 3px;
    padding: 4px 20px 4px 15px;
    position: relative;
    color: #d6e5ed6e;
    font-size: 12px;
    margin-bottom: 15px;
}

.selectedFilter-close {
    display: inline;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 5px;
    right: 5px;
}