.blogs__form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
    padding-top: 0;
}

.blogs__input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(214, 229, 237, 0.5);
    color: rgba(214, 229, 237, 0.5);
    margin-bottom: 15px;
}

.input-text {
    grid-column: 1/3;
    height: 100px;
    border: solid 1px rgba(214, 229, 237, 0.5);
    border-radius: 3px;
}

.blogs__submit {
    grid-column: 1/3;
    padding: 3px 0;
    border-radius: 3px;
    background-color: rgba(214, 229, 237, 0.5);
    border: none;
    color: #0e1420;
    font-weight: 500;
}

.blogs__submit:hover {
    background-color: var(--text-light);
}