.tours__form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
    padding-top: 0;
}

.tours__input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(214, 229, 237, 0.5);
    color: rgba(214, 229, 237, 0.5);
    margin-bottom: 15px;
}

.input-description {
    grid-column: 1/3;
    height: 100px;
    border: solid 1px rgba(214, 229, 237, 0.5);
    border-radius: 3px;
}

.tours__form-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    color: rgba(214, 229, 237, 0.5);
    font-weight: 300;
}

.form-select {
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid rgba(214, 229, 237, 0.5);
    border-radius: 3px;
    padding: 2px 5px;
    color: rgba(214, 229, 237, 0.5);
    width: 50%;
}

.form-select__option {
    background-color: var(--dark);
}

.tours__submit {
    grid-column: 1/3;
    margin-top: 15px;
    padding: 3px 0;
    border-radius: 3px;
    background-color: rgba(214, 229, 237, 0.5);
    border: none;
    color: #0e1420;
    font-weight: 500;
}

.tours__submit:hover {
    background-color: var(--text-light);
}