.comment-form {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.comment-form__title {
    margin: 0;
    margin-bottom: 15px;
}

.comment-form__form {
    width: 100%;
}

.comment-form__textarea {
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.comment-form__button {
    background-color: rgba(87, 134, 154, 0.4);
    color: var(--text-light);
    border: none;
    border-radius: 3px;
    padding: 5px 55px;
    margin-top: 5px;
}

.comment-form__button:hover {
    background-color: var(--text-light);
    color: #28414d;
}

.form-error {
    font-size: 11px;
    color: #7c585ca2;
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
    .comment-form {
        order: 1;
        margin-bottom: 40px;
    }
}

@media (max-width: 840px) {
   
}

@media (max-width: 580px) {
    
}

@media (max-width: 430px) {
}