.account__form {
    grid-column: 3/10;
    display: grid;
    grid-template-columns: 110px auto;
    column-gap: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.account__avatar {
    grid-column: 1/2;
}

.account__avatar-btn {
    border-radius: 3px;
    background-color: transparent;
    border: none;
    color: rgba(214, 229, 237, 0.5);
    font-size: 10px;
    margin-top: 5px;
}

.account__form-fields {
    grid-column: 2/3;
}

.account__input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(214, 229, 237, 0.5);
    color: rgba(214, 229, 237, 0.5);
    margin-bottom: 15px;
}

.account__input::placeholder {
    color: rgba(214, 229, 237, 0.5);
}

.account__submit-button {
    grid-column: 2/3;
    align-self: flex-end;
    margin-top: 15px;
    justify-items: end;
}

@media (max-width: 840px) {
    .account__form {
        grid-column: 4/10;
    }
}