/* styles for header elements */

.layout__header {
    grid-column: 2/22;
    height: 60px;
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    color: var(--text-light);
    font-family: 'Sree Krushnadevaraya', serif;
    font-weight: 400;
}

.layout__header a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease;
}

.layout__header a:hover {
    color: var(--grey-blue);
}

.header__logo a {
    font-size: 24px;
    line-height: 0.7;
}

.header__logo a:hover {
    font-size: 24px;
    line-height: 0.7;
    color: var(--text-light);
}

.nav__list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.header_info {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header__info-burgermenu {
    
    align-self: center;
    cursor: pointer;
}

.header__info-burgermenu img {
    height: 30px;
    width: 50px;
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .layout__header a {
        font-size: 14px;
    }
    .header__logo a {
        font-size: 20px;
        line-height: 0.7;
    }
    .header__logo a:hover {
        font-size: 20px;
    }
}

@media (max-width: 840px) {
    .layout__header {
        display: none;
    }
}