.burgerMenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: rgba(20, 20, 40, 0.95);
    color: white;
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.burgerMenu--open {
    right: 0;
    z-index: 2100;
}

.burgerMenu__close {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 20px;
}

.burgerMenu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.burgerMenu__link-btn {
    background-color: transparent;
    border: none;
    color: var(--text-light);
}

.burgerMenu__link-btn:hover {
    color: var(--green);
}

.loginBtn {
    width: 100%;
    border-radius: 6px;
    background-color: var(--green);
    border: none;
    display: flex;
    padding: 6px 10px;
}

.authentication {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    background-color: #57869a50;
    border-radius: 3px;
}

.authentication__login-block {
    color: var(--green);
    padding: 15px 10px;
}

.authentication__registration-block {
    padding: 15px 10px;
}

.registration-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.registration-link {
    color: var(--green);
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: 2px;
}

.registration-link:hover {
    color: var(--smoked-blue);
}