.contacts {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 20px;
    height: 75vh;
}

.contacts__title {
    line-height: 0.7;
}

.contacts__info {
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 10vh auto;
    column-gap: 20px;
    color: var(--text-light);
}

.contacts__title {
    grid-column: 1/9;
}

.contacts__content {
    grid-column: 1/5;
}

.contacts__subtitle {
    margin-bottom: 30px;
}

.contacts__details {
    margin-bottom: 55px;
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: 55vh;
    border-radius: 3px;
}

.map-overlay {
  position: absolute;
  inset: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.3s ease;
  background: rgba(0, 0, 0, 0.8);
}

.map-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
}

.map-overlay__text {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  pointer-events: none;
}

.contacts__map {
    grid-column: 9/19;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    overflow: hidden;  
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
    .contacts {
        height: auto;
    }
    .contacts__info {
        grid-column: 2/10;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        margin-bottom: 55px;
    }
    .contacts__subtitle {
        margin-bottom: 15px;
    }
    .contacts__content {
        grid-column: 1/18;
        display: flex;
        gap: 20px;
    }
    .contacts__details {
        width: 60vw;
    }
    .contacts__map {
        grid-column: 10/18;
        height: 100%;
        padding-bottom: 55px;
    }
    .map-overlay {
        display: none;
    }
}

@media (max-width: 840px) {
    .contacts__info {
        grid-column: 2/18;
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: 80px auto;
        column-gap: 20px;
        row-gap: 0;
        margin-bottom: 55px;
    }
    /* .contacts__content {
        grid-column: 1/8;
    } */
    .contacts__map {
        grid-column: 1/19;
        height: 330px;
        padding-bottom: 0;
    }
}

@media (max-width: 580px) {
    .contacts__info {
        grid-template-rows: 80px auto auto;
    }
    .contacts__content {
        grid-column: 1/17;
        grid-row: 2/3;
    }
}

@media (max-width: 430px) {
}