.catalog-tour__card {
    width: 20vw;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 5px 0;
    padding: 0;
}

.catalog-tour__card:hover {
    margin: 0;
    padding: 5px;
    border: solid 1px #00000013;
    background-color: rgba(47, 80, 94, 0.55);
}

.catalog-tour__card-image {
    border-radius: 3px;
    width: 100%;
    height: 26vh;
    object-fit: cover;
}