.comment-form {
    width: 100%;
    height: 30%;
}

.comment-form__title {
    margin: 0;
    margin-bottom: 15px;
}

.comment-form__form {
    width: 100%;
    height: 100%;
}

.comment-form__textarea {
    width: 100%;
    height: 40%;
    padding: 15px;
    border-radius: 3px;
    border: none;
    background-color: var(--text-light);
}

.comment-form__button {
    background-color: rgba( 0, 0, 0, 0.2);
    border: none;
    border-radius: 3px;
    padding: 5px 35px;
    margin-top: 5px;
}